head
	title Заголовок

	link(rel="shortcut icon", href="http://you_domain/favicon.ico", type="image/x-icon")

	// build:css css/vendor.min.css
	link(rel='stylesheet' href='./css/bootstrap.css')
	// endbuild

	// build:css css/style.min.css
	link(rel='stylesheet' href='./css/main.css')
	// endbuild