.s01.container-fluid
	.row.text-center
		.col-xs-6.the-island.center
			.h2 Ark-ru
			.h1 The Island
			.h3 ЗАПУСК 01.01.16
			.h4 ТОП-ТРАЙБ  "СЕВЕР"
			a(href="steam://connect/194.58.69.241:27015" target="_blank" class="btn btn-white") Подключиться
		.col-xs-6.the-center.center
			.h2 Ark-ru
			.h1 The Center
			.h3 ЗАПУСК 01.06.16
			.h4 ТОП-ТРАЙБ  "КОЛОДА"
			a(href="steam://connect/194.58.69.241:27031" target="_blank" class="btn btn-white") Подключиться
			.x3 x3
	.rating 18+
	a(href="http://vk.com/arkru_ru" target="_blank" class="vk") Группа <span class="color-vk">VK</span>