// build:js scripts/vendor.js
script(src='./components/jquery/dist/jquery.min.js')
script(src='./components/bootstrap/dist/js/bootstrap.js')
// endbuild

// build:js scripts/sctipts.js
script(src='./js/script.js')
// endbuild